<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1570878080527-ef8993f691cf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=976&q=80);">
  <div class="container">
    <h1>Cocktails brings <strong>drinking skills</strong> to <strong>funny people</strong>!</h1>
    <p>Make your own cocktail recipe and get drunk TONIGHT !!</p>
    <%= link_to "Start now!", new_cocktail_path, class: "btn btn-flat" %>
  </div>
</div>
<div class="container">
  <h1 class="text-center mb-3">All your cocktails !</h1>

  <div class="d-flex flex-wrap justify-content-around">
    <%@cocktails.each do |cocktail| %>
      <div class="card mb-3" style="width: 18rem;">
<!--         <%# if cocktail.photo.nil? %>
          <%# cocktail.photo.key = () %>
          <%# end %> -->
        <%= cl_image_tag cocktail.photo.key, height: 300, width: 286, crop: :fill %>
        <div class="card-body">
          <h5 class="card-title"><%= link_to cocktail.name, cocktail_path(cocktail) %></h5>
          <p class="card-text">some bullshit about this cocktail.</p>
        </div>
      </div>

    <% end %>
    </div>
</div>
